.footer {
  position: fixed;
  left:0;
  bottom: 0 ;
  width:100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  }
  
  .footer-logo {
    font-size: 24px;
  }
  
  .footer-menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .footer-menu li {
    margin-left: 20px;
  }
  
  .footer-menu a {
    color: #fff;
  }
  
  @media (max-width: 480px) {
    .footer-menu ul{
      flex-direction: column;
    }
  }